body {
    font-family: 'Poppins', sans-serif;
}

.opacity {
    width: 100%;
    height: 100vh;
    color: white;
    position: relative;
    z-index: 1;
}

.opacity::after {
    content: '';
    background-image: url('background.jpg');
    background-position: center;
    background-size: cover;
    /* background: rgb(36, 36, 37); */
    /* background: linear-gradient(180deg, rgba(36, 36, 37, 1) 0%, rgba(4, 4, 4, 1) 100%); */
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.9;
    z-index: -1;
}

.container {
    padding: 0 5px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.photo {
    border-radius: 50%;
    margin-top: 20px;
    max-width: 100px;
    height: auto;
}

.name {
    margin-top: 15px !important;
}

.w3-theme-d3 {
    background-color: #009D43;
}

.w3-theme-d3:hover {
    background-color: #009D43;
}

a {
    font-size: smaller;
}

.w3-border {
    border: 1px solid #fff !important;
}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links-container a {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.description {
    width: 95%;
    height: 160px;
    font-size: small;
    padding: 10px;
    border-radius: 5px;
    color: black;

    background-color: #fff;
    margin-bottom: 10px;

    display: flex;
    gap: 1rem;
}

.description>img {
    width: 30%;
    border-radius: 5px;
}

.description-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons a {
    text-decoration: none;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    min-width: 80%;
}

.btn-code {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-code svg {
    margin-top: -2px;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    padding: 0 12px;
}

@media screen and (min-width: 768px) {
    .link {
        width: 100%;
    }
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 400px;
    }
}